:root {
  --color-dark-blue: #081028;
  --color-light-blue: #050f34;
  --color-gray: #aeb9e1;
  --color-purple: #8951ff;
  --color-dark-pink: #cb3cff;
  --color-light-pink: #ea8df7;
  --color-black: #000;

  --border: 1px solid var(--color-black);
  --big-border-radius: 30px;
  --small-border-radius: 20px;

  --box-shadow:
    -1px 1px 7px 0 var(--color-black), 1px -1px 7px 0 var(--color-black);

  --input-height: 50px;

  --transition-duration: 0.2s;
}
