:root {
  --color-background: #1f1f1f;
  --color-split-line: #3b3b3b;
  --color-hover: #3b3b3b;
  --color-dropdown: #1e1e1e;
  --color-text: #ddd;
  --color-subtext: #938989;
  --color-primary: #8951ff;

  --border: 2px solid var(--color-split-line);
  --small-border-radius: 5px;
  --big-border-radius: 10px;

  --box-shadow: -1px 1px 7px 0 var(#000), 1px -1px 7px 0 var(#000);

  --input-height: 50px;

  --transition-duration: 0.2s;
  --function-time-transition-duration: ease;
}
