.footer {
  position: static;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border-top: var(--border);
}

.title {
  font-weight: 800;
  font-size: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  color: var(--color-text);
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary);
}
