.footer {
  box-sizing: border-box;
  position: static;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border-top: var(--border);
}

.title {
  color: var(--color-text);
  font-weight: 800;
  font-size: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 90%,
    var(--color-primary) 90%,
    var(--color-primary) 100%
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position-x: right;
  transition: background-size var(--transition-duration);
}

.link:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
