.menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding-inline: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  color: var(--text-color);
  background: transparent;
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  transition: all var(--transition-duration)
    var(--function-time-transition-duration);
}

.item:hover,
.activeItem {
  background-color: var(--hover-color);
}

.item:focus-visible {
  border-radius: var(--big-border-radius);
  outline: 2px solid var(--primary-color);
}

.avatar {
  width: 24px;
  height: 24px;
}

.avatarLabel {
  display: none;
}

.chevron {
  margin-left: -5px;
  color: var(--text-color);
  transition: transform var(--transition-duration)
    var(--function-time-transition-duration);
}

.chevronOpen {
  transform: rotate(180deg);
}

.item:hover .chevron {
  color: var(--text-color);
}

.itemContainer {
  position: relative;
}

.dropdown {
  position: absolute;
  z-index: var(--modal-z-index);
  top: calc(100% + 3px);
  left: 0;
  min-width: 230px;
  padding: 12px;
  background-color: var(--dropdown-color);
  border: var(--border);
  border-radius: var(--big-border-radius);
}

.dropdownTitle {
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--dropdown-text-color);
}

.subtitle {
  padding-left: 36px;
  font-size: 12px;
  font-weight: 400;
  color: var(--subtext-color);
}

.menuLink {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  text-decoration: none;
  color: var(--dropdown-text-color);
  background: transparent;
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  transition: background var(--transition-duration)
    var(--function-time-transition-duration);
}

.menuLink:hover,
.menuLink:focus-visible {
  background-color: var(--primary-color);
}

.profileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 14px;
}

.profileIcon {
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
  cursor: pointer;
}

.profileLogin {
  color: var(--dropdown-text-color);
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 90%,
    var(--primary-color) 90%,
    var(--primary-color) 100%
  );
  background-position-x: right;
  background-size: 0 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-size var(--transition-duration);
}

.profileLogin:hover,
.profileIcon:hover + .profileInfo > .profileLogin {
  background-position-x: left;
  background-size: 100% 100%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileIcon:hover + .profileInfo .profileLogin,
.profileLogin:hover {
  text-decoration: underline;
}

.profileEmail {
  display: block;
  font-size: 12px;
  color: var(--subtext-color);
}

.viewProfileLabel {
  display: none;
  font-size: 12px;
  color: var(--subtext-color);
}

.profileIcon:hover + .profileInfo .profileEmail,
.profileLogin:hover ~ .profileEmail {
  display: none;
}

.profileIcon:hover + .profileInfo .viewProfileLabel,
.profileLogin:hover ~ .viewProfileLabel {
  display: block;
}

.switchAccount {
  display: grid;
  grid-template-columns: 36px 1fr;
  grid-template-areas:
    'switchIcon switchLogin'
    'switchIcon switchEmail';
  place-items: center start;
  gap: 5px;
  font-size: 13px;
}

.switchAccountIcon {
  grid-area: switchIcon;
  width: 24px;
  height: 24px;
}

.switchAccountLogin {
  grid-area: switchLogin;
  font-size: 16px;
}

.switchAccountEmail {
  grid-area: switchEmail;
  color: var(--subtext-color);
}

.noCheckPadding {
  margin-left: 26px;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.notificationTitle {
  justify-self: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  text-wrap: nowrap;
}

.notificationText {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--subtext-color);
}

.readAll {
  width: 100%;
  padding-block: 5px;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  margin-block-start: 15px;
}

.markRead {
  margin-block: auto;
  padding: 3px;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
}

.readAll:hover,
.markRead:hover {
  background-color: var(--dim-primary-color);
}

.divider {
  margin: 8px 0;
  border: 0;
  border-top: 1px solid var(--split-line-color);
}

.badge {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--attention-color);
  border-radius: 50%;
  pointer-events: none;
}

@media (width >= 1024px) {
  .menu {
    gap: 15px;
  }

  .avatarLabel {
    display: inline;
    font-size: 16px;
    font-weight: 400;
  }
}
