.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: 15px;
  border-left: var(--border);
}

.button {
  padding: 5px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
}
