.avatar {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
}

.placeholder {
  flex-shrink: 0;
  place-self: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subtext-color);
  background-color: var(--dim-background-color);
  border-radius: 50%;
}
