.card {
  display: grid;
  grid-template-rows: 46px 1fr;
  padding: 20px;
  width: 100%;
  height: 270px;
  background-color: var(--hover-color);
  outline: var(--border);
  border-top: 8px solid var(--primary-color);
  border-radius: var(--small-border-radius);
  transition: outline 0.1s var(--function-time-transition-duration);
}

.card.wishes {
  height: 340px;
}

.card:hover {
  outline: 3px solid var(--primary-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'title title'
    'date counts';
}

.title {
  grid-area: title;
  font-size: 24px;
  font-weight: 400;
}

.date {
  grid-area: date;
  margin-block: auto;
  border-radius: var(--big-border-radius);
  color: var(--primary-color);
  font-size: 14px;
}

.counts {
  grid-area: counts;
  margin-block: auto;
  font-size: 14px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: var(--small-border-radius);
  cursor: pointer;
}

.menuButton:hover {
  background-color: var(--dim-background-color);
}
