.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
}

.icon {
  width: 45px;
  height: 45px;
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: var(--color-gray);
}
