.header {
  position: fixed;
  z-index: var(--header-z-index);
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: var(--background-color);
  border-bottom: var(--border);
}
