.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: clamp(430px, -70px + 100vw, 2930px);
  height: 70px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
