.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding: 0 4px;
  margin: 0;
  height: 50px;
  width: 174px;
  background-color: var(--color-light-blue);
  border-radius: 30px;
}

.item {
  width: 40px;
  height: 40px;
}

.icon {
  width: 40px;
  height: 40px;
}

.avatar {
  width: 40px;
  height: 40px;
}
