.footer {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  padding: 20px;
  background-color: var(--background-color);
  border-top: var(--border);
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: var(--text-color);
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 90%,
    var(--primary-color) 90%,
    var(--primary-color) 100%
  );
  background-position-x: right;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size var(--transition-duration);
}

.link:hover {
  background-position-x: left;
  background-size: 100% 100%;
}
