.navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: var(--color-light-blue);
  border-radius: 30px;
}

.item {
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width:35px;
  height: 35px;
}