.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icon {
  width: 65px;
  height: 65px;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}
