.container {
  margin-block-start: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 16px;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-inline: 6px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-left: 4px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color var(--transition-duration)
      var(--function-time-transition-duration),
    border-left var(--transition-duration)
      var(--function-time-transition-duration);
}

.tab:hover,
.tab:focus-visible {
  background-color: var(--hover-color);
  border-left: 4px solid var(--primary-color);
}

.tab:focus {
  outline: none;
}

.tab:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.activeTab {
  background-color: var(--hover-color);
  border-left: 4px solid var(--primary-color);
}

.count {
  color: var(--subtext-color);
}
