.card {
  display: grid;
  grid-template-rows: 46px 1fr;
  padding: 25px 20px;
  width: 100%;
  max-width: 230px;
  height: 270px;
  background-color: var(--color-light-blue);
  border-radius: var(--small-border-radius);
  transition: border var(--transition-duration)
    var(--function-time-transition-duration);
}

.card:hover {
  border: 3px solid var(--color-dark-pink);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'title title'
    'date counts';
}

.title {
  grid-area: title;
  font-size: 20px;
  font-weight: 400;
}

.date {
  grid-area: date;
  color: var(--color-light-pink);
  font-size: 12px;
}

.counts {
  grid-area: counts;
  font-size: 12px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-light-blue);
  color: var(--color-gray);
  border: none;
  cursor: pointer;
}
