.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title {
  font-weight: 400;
  font-size: 16px;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.item {
  cursor: pointer;
  padding-inline: 6px;
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--background-color);
  transition:
    background-color var(--transition-duration)
      var(--function-time-transition-duration),
    border-left var(--transition-duration)
      var(--function-time-transition-duration);
}

.item:hover,
.item:focus-visible {
  background-color: var(--hover-color);
  border-left: 4px solid var(--primary-color);
}

.item:focus {
  outline: none;
}

.item:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.isActive {
  background-color: var(--hover-color);
  border-left: 4px solid var(--primary-color);
}
